
.header{
	width:300px;
    background-color:gray;
    /*padding:2px 0px 2px 4px;*/
    /*padding: auto;*/
    text-align: center;
	border-radius:5px;
	border:solid #000;
    height: 70px;
}

form {
    padding-top: 20px;
}

input[type=text]{
	width:200px;
}

/* ================= */
.content{
	width:320px;
	height:220px;
}
/* ================= */

label{
	width:90px;
	/*text-align: center;*/
	/*background-color: green;*/
}

.registration{
	height: 60px;
}

input[type=submit]{
	margin-left:100px;
    background-color:#525252;
	color:#FFF;
	font-weight:bold;
	display:block;
	padding:3px 40px;
}

.product_new_registration{
    width: 300px;
    /*background-color: red;*/
    text-align: center;
    line-height:2;
    margin-right: 200px;
}

.product_information_image{
    width: 100px;
    height: 100px;
    background-color: blue;
    /*text-align: center;*/
    line-height:2;
    margin-left: 100px;
    margin-bottom: 20px;
}
