
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

.header{
	width:420px;
    background-color:yellow;
    padding: auto;
    text-align: center;
	border-radius:5px;
	border:solid #000;
    height: 150px;
    margin: auto;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

input[type=text]{
    width:200px;
}

.content{
    /* width:320px;
    height:290px; */
    text-align: center;
}

/* .product_information_image{
    width: 100px;
    height: 100px;
    background-color: blue;
    line-height:2;
    margin-left: 100px;
    margin-bottom: 20px;
} */

label{
    width:90px;
}

.footer{
  margin-top: 30px;
  text-align: center;
}

/* 
.product_details{
    width: 300px;
    text-align: center;
    line-height:2;
    margin-right: 200px;
}


.return{
    width: 300px;
    text-align: center;
    line-height:2;
    margin-right: 200px;
}

input[type=submit]{
    margin-left:100px;
    background-color:#525252;
    color:#FFF;
    font-weight:bold;
    display:block;
    padding:3px 40px;
    margin-bottom: 50px;
} */