
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

.header{
	padding-bottom: 50px;
  width:420px;
  background-color:yellow;
  padding: auto;
  text-align: center;
  border-radius:5px;
  border:solid #000;
  height: 150px;
  margin: auto;
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

input[type=text]{
	width:320px;
}

.content{
	width:320px;
	margin: auto;
}

    label{
      width:220px;  
    }

    .user_login{
      margin-top: 20px;
      height: 50px;
      padding: 3px;
      margin-left: 500px;

    }

    .user_registration{
      margin-top: 20px;
      height: 50px;
      padding: 3px;
      margin-left: 500px;
    }

.footer{
  margin: auto;
}

    input[type=submit]{
      background-color:#525252;
      color:#FFF;
      font-weight:bold;
      padding:3px 15px;
    }