body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
}

.header{
	padding-bottom: 50px;
}

.header1{
	width:420px;
	background-color:gray;
	padding: auto;
	text-align: center;
	border-radius:5px;
	border:solid #000;
	height: 150px;
	margin: auto;
	font-family:fantasy;
	font-size: 25px;
}

.header2{
	width:320px;
	background-color:gray;
	padding: auto;
	margin-bottom: 20px;
	text-align: center;
	border-radius:5px;
	border:solid #000;
	height: 50px;
	margin: auto;
	font-family:fantasy;
	font-size: 15px;
	}

form {
	padding: 20px;
	padding-left:300px;
}

input[type=text]{
	width:320px;
}

.content{
	width:320px;
}

label{
	width:120px;
}

.user_login{
	height: 60px;
}

.user_registration{
	height: 60px;
}

.footer{
	margin-top: 30px;
}

input[type=submit]{
	background-color:#525252;
	color:#FFF;
	font-weight:bold;
	display:block;
	padding:3px 15px;
}
